body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #F4E9DA;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  background-color: #B89C65;
  padding: 25px 0;
  border-radius: 3px;
}

.navbar ul {
  list-style: none;
  display: flex;
 gap:40px;
  
  margin: 0;
  padding: 0;
}
.navbar .active{
  color: #000;
}
.navbar ul li a {
  color:#ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  margin-left: 80px;
}
.top-bar {
  background-color: #D4C7B5; /* beige color in your image */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-area .logo {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

.logo-area .logo span {
  color: #B89C65; /* gold */
}

.logo-area .logo strong {
  color: #000;
  font-weight: 600;
}

.logo-area .tagline {
  margin: 0;
  margin-top: -5px;
  font-size: 12px;
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
  width: 50%;
  background: white;
  padding: 15px 20px;
  border-radius: 50px;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width:150%;
  font-size: 19px;
  background: transparent;
 
}
.search-box input::placeholder{
  color: #000;
}
.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
/* ICONS + PROFILE */
.top-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

.top-icons i {
  font-size: 25px;
  color: #B89C65;
  cursor: pointer;
   text-shadow: 0px 0px 1px #B89C65; 
}

.top-icons i:hover {
  opacity: 0.7;
}

/* PROFILE PIC */
.profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.contact-section {
  padding: 40px 0;
  background: #f4e9da;
  font-family: "Poppins", sans-serif;
}

.contact-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.contact-box {
  width: 60%;
  margin: auto;
  background: #ffffff;
  border-radius: 25px;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
  height: 70%;
}

/* Left & right column */
.left, .right {
  width: 50%;
}

/* Labels */
label {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

/* Inputs */
.left input,
textarea {
  width: 70%;
  border: 1px solid #d1b98a;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}
.right input,
textarea {
  width: 70%;
  border: 1px solid #d1b98a;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}
/* Support title */
.support-title {
  margin-top: 21px;
  font-size: 19px;
  font-weight: 600;
}

.support-line {
  margin-top: 10px;
  font-size: 19px;
}

.phone-icon {
  margin-right: 8px;
  font-size: 18px;
}

/* Submit button at bottom right */
.submit-btn {
  background: #b89c65;
  color: #fff;
  padding: 25px 60px;
  border: none;
  border-radius: 10px;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  font-size: 25px;
  margin-right: 90px;
}

.submit-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
    gap: 20px;
  }

  .left, .right {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
    float: none;
  }
}
.contact-banner img {
    width: 100%;
    height: auto;
    display: block;
    
    margin-top: 3px;
}



/* Footer */
.footer {
  background: #B89C65;
  color: white;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

/* TOP COLUMNS */
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-column p {
  margin: 8px 0;
  font-size: 17px;
  cursor: pointer;
}

.footer-column p:hover {
  opacity: 0.8;
}

/* LINE */
.footer-line {
  border: 0;
  border-top: 2px solid white;
  margin: 25px 0 35px 0;
}

/* BOTTOM LINKS */
.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 30px;
  font-size: 17px;
}

.footer-bottom p {
  margin: 0;
}

.footer-final {
  background: #2D2D2D;
  color: white;
  padding: 120px 80px;
  position: relative;
  font-family: "Poppins", sans-serif;

  
   /* <-- MAKES BOTH PERFECTLY ALIGNED */
}

/* CENTER BLOCK */
.footer-center-block {
 position: absolute;
  left: 360px;
  top: 30px;
 
  
}

.footer-copy {
  font-size: 23px;
  font-weight: 500;
top:-9px;
  
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.social-icon img{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 0.8;
}

/* RIGHT SIDE CONTACT */
.footer-contact-final {
  position: absolute;
  right: 60px;
  top: 40px;
  text-align: left;
}

.footer-contact-final p {
  margin: 6px 0;
  font-size: 21px;
}

.footer-contact-final i {
  margin-right: 8px;
  font-size: 18px;
  color: #000;
}
