body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #F4E9DA;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  background-color: #B89C65;
  padding: 25px 0;
  border-radius: 3px;
}

.navbar ul {
  list-style: none;
  display: flex;
 gap:40px;
  
  margin: 0;
  padding: 0;
}
.navbar .active{
  color: #000;
}
.navbar ul li a {
  color:#ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  margin-left: 80px;
}
.top-bar {
  background-color: #D4C7B5; /* beige color in your image */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-area .logo {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

.logo-area .logo span {
  color: #B89C65; /* gold */
}

.logo-area .logo strong {
  color: #000;
  font-weight: 600;
}

.logo-area .tagline {
  margin: 0;
  margin-top: -5px;
  font-size: 12px;
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
  width: 50%;
  background: white;
  padding: 15px 20px;
  border-radius: 50px;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width:150%;
  font-size: 19px;
  background: transparent;
 
}
.search-box input::placeholder{
  color: #000;
}
.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
/* ICONS + PROFILE */
.top-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

.top-icons i {
  font-size: 25px;
  color: #B89C65;
  cursor: pointer;
   text-shadow: 0px 0px 1px #B89C65; 
}

.top-icons i:hover {
  opacity: 0.7;
}

/* PROFILE PIC */
.profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.need-help {
  background-color: #F5EBDD;   /* same color as shown in your image */
  padding: 10px 20px;
 
  font-family: 'Poppins', sans-serif;
}

.need-help h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
   text-align: center;
}

.need-help p {
  font-size: 26px;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
   text-align: justify;
}
.help-image {
  width: 100%;
  margin: 0;
  padding-top: 20px;
}

.help-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.contact-block {
  background: #F5EBDD;
  display: flex;
  justify-content: space-between;
  padding: 40px 90px;
  font-family: 'Poppins', sans-serif;
}

.col {
 max-width: 60%;
}

.logo {
  width: 180px;
  margin-bottom: 25px;
}

.col h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.col p {
  font-size: 20px;
  margin: 8px 0;
   font-weight: 600;
}

.manager-title,
.director-title {
  margin-top: 30px;
}

.wa-line {
  display: flex;
  align-items: center;
  gap: -9px;
}

.wa-icon {
  width: 45px;
  height: 45px;
}

/* Footer */
.footer {
  background: #B89C65;
  color: white;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

/* TOP COLUMNS */
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-column p {
  margin: 8px 0;
  font-size: 17px;
  cursor: pointer;
}

.footer-column p:hover {
  opacity: 0.8;
}

/* LINE */
.footer-line {
  border: 0;
  border-top: 2px solid white;
  margin: 25px 0 35px 0;
}

/* BOTTOM LINKS */
.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 30px;
  font-size: 17px;
}

.footer-bottom p {
  margin: 0;
}

.footer-final {
  background: #2D2D2D;
  color: white;
  padding: 120px 80px;
  position: relative;
  font-family: "Poppins", sans-serif;

  
   /* <-- MAKES BOTH PERFECTLY ALIGNED */
}

/* CENTER BLOCK */
.footer-center-block {
 position: absolute;
  left: 360px;
  top: 30px;
 
  
}

.footer-copy {
  font-size: 23px;
  font-weight: 500;
top:-9px;
  
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.social-icon img{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 0.8;
}

/* RIGHT SIDE CONTACT */
.footer-contact-final {
  position: absolute;
  right: 60px;
  top: 40px;
  text-align: left;
}

.footer-contact-final p {
  margin: 6px 0;
  font-size: 21px;
}

.footer-contact-final i {
  margin-right: 8px;
  font-size: 18px;
  color: #000;
}
