body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  background-color: #B89C65;
  padding: 25px 0;
  border-radius: 3px;
}
.navbar .active{
  color: #000;
}
.navbar ul {
  list-style: none;
  display: flex;
 gap:40px;
  
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color:#ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  margin-left: 80px;
}
.top-bar {
  background-color: #D4C7B5; /* beige color in your image */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo-area .logo {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

.logo-area .logo span {
  color: #B89C65; /* gold */
}

.logo-area .logo strong {
  color: #000;
  font-weight: 600;
}

.logo-area .tagline {
  margin: 0;
  margin-top: -5px;
  font-size: 12px;
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
  width: 50%;
  background: white;
  padding: 15px 20px;
  border-radius: 50px;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width:150%;
  font-size: 19px;
  background: transparent;
 
}
.search-box input::placeholder{
  color: #000;
}
.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
/* ICONS + PROFILE */
.top-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

.top-icons i {
  font-size: 25px;
  color: #B89C65;
  cursor: pointer;
   text-shadow: 0px 0px 1px #B89C65; 
}

.top-icons i:hover {
  opacity: 0.7;
}

/* PROFILE PIC */
.profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.hero-image {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.hero-image img {
  width: 100%;
  height: 380px; /* same height as your screenshot */
  object-fit: cover;
  display: block;
}

.reservation-title {
  background: #B89C65;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  margin: 0;
}

.reservation-title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
}
/* PAYMENT SECTION */
.payment-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LEFT IMAGE */
.pay-left {
    width: 45%;
}
.pay-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT SIDE */
.pay-right {
    width: 55%;
    padding: 80px;
}

/* DROPDOWN HEADER */
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width:190px;
    font-size: 11px;
}
#arrow {
    font-size: 22px;
    transition: 0.3s;
}
#arrow.rotate {
    transform: rotate(180deg);
}

/* HIDDEN CONTENT */
.dropdown-content {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.dropdown-content.show {
    display: block;
}
/* CREDIT CARD FORM BOX */
.card-form {
    width: 80%;
    border: 1px solid #C7A97B;
    padding: 40px;
    margin-top: 20px;
    display: none; /* hidden by default */
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.form-group {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #C7A97B;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

/* BUTTON */
.proceed-btn {
    background: #B89C65;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    margin-top: -20px;
    font-size: 16px;
}
.success-box {
    text-align: left;
    margin-top:-10px;
    padding: 10px;
    color: #B89C65;
    display: none;
}

/* Footer */
.footer {
  background: #B89C65;
  color: white;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

/* TOP COLUMNS */
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-column p {
  margin: 8px 0;
  font-size: 17px;
  cursor: pointer;
}

.footer-column p:hover {
  opacity: 0.8;
}

/* LINE */
.footer-line {
  border: 0;
  border-top: 2px solid white;
  margin: 25px 0 35px 0;
}

/* BOTTOM LINKS */
.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 30px;
  font-size: 17px;
}

.footer-bottom p {
  margin: 0;
}

.footer-final {
  background: #2D2D2D;
  color: white;
  padding: 120px 80px;
  position: relative;
  font-family: "Poppins", sans-serif;

  
   /* <-- MAKES BOTH PERFECTLY ALIGNED */
}

/* CENTER BLOCK */
.footer-center-block {
 position: absolute;
  left: 360px;
  top: 30px;
 
  
}

.footer-copy {
  font-size: 23px;
  font-weight: 500;
top:-9px;
  
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.social-icon img{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 0.8;
}

/* RIGHT SIDE CONTACT */
.footer-contact-final {
  position: absolute;
  right: 60px;
  top: 40px;
  text-align: left;
}

.footer-contact-final p {
  margin: 6px 0;
  font-size: 21px;
}

.footer-contact-final i {
  margin-right: 8px;
  font-size: 18px;
  color: #000;
}


